html,
body {
  height: 100%; }

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; }

.navbar-header {
  padding-top: 10px;
  width: 100%; }

a.brand img {
  height: 55px !important; }

/*Added for dropdown sub_sub_menu in Bootstrap 3*/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 0;
  margin-top: -6px;
  margin-left: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }
  .dropdown-submenu:hover > a:after .dropdown-submenu {
    float: none; }

.jumbotron {
  text-align: center;
  background-color: transparent; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

.col-lg-4 img {
  max-width: 95%;
  text-align: center; }

footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #000;
  text-align: center;
  color: #fff; }

/*gallery */
ul.gallery_thumbs {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: hidden; }
  ul.gallery_thumbs li {
    display: inline-block;
    position: relative;
    float: left;
    width: 200px;
    height: 140px;
    box-shadow: 0px 0px 5px #333;
    overflow: hidden;
    margin: 10px;
    border: 5px solid #fff; }
    ul.gallery_thumbs li img {
      min-width: 100%; }
  ul.gallery_thumbs li.for_sale_image {
    height: 320px !important; }
    ul.gallery_thumbs li.for_sale_image img {
      min-width: 100% !important;
      height: 70% !important;
      min-height: none !important; }
    ul.gallery_thumbs li.for_sale_image div.paypal_button {
      margin-top: 20px;
      float: right; }

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: 1024px;
  width: auto !important;
  max-height: 620px;
  height: auto !important;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url(../img/overlay.png) repeat 0 0; }

#colorbox {
  outline: 0; }

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../img/controls.png) no-repeat -101px 0; }

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../img/controls.png) no-repeat -130px 0; }

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../img/controls.png) no-repeat -101px -29px; }

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../img/controls.png) no-repeat -130px -29px; }

#cboxMiddleLeft {
  width: 21px;
  background: url(../img/controls.png) left top repeat-y; }

#cboxMiddleRight {
  width: 21px;
  background: url(../img/controls.png) right top repeat-y; }

#cboxTopCenter {
  height: 21px;
  background: url(../img/border.png) 0 0 repeat-x; }

#cboxBottomCenter {
  height: 21px;
  background: url(../img/border.png) 0 -29px repeat-x; }

#cboxContent {
  background: #fff;
  overflow: hidden; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 28px; }

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

#cboxLoadingOverlay {
  background: url(../img/loading_background.png) no-repeat center center; }

#cboxLoadingGraphic {
  background: url(../img/loading.gif) no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxPrevious:hover {
  background-position: -75px -25px; }

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../img/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxNext:hover {
  background-position: -50px -25px; }

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); }

/* The Nivo Slider styles */
.nivoSlider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: none; }

.nivo-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important; }

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 6;
  display: none;
  background: white;
  filter: alpha(opacity=0);
  opacity: 0; }

/* The slices and boxes in the Slider */
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 5;
  height: 100%;
  top: 0; }

.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
  overflow: hidden; }

.nivo-box img {
  display: block; }

/* Caption styles */
.nivo-caption {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #000;
  color: #f7f7f7;
  width: 100%;
  min-width: 310px;
  font-size: 1.3em;
  height: auto;
  z-index: 8;
  padding: 20px 20px;
  opacity: 0.7;
  overflow: hidden;
  font-size: 1.4em;
  display: none;
  -moz-opacity: 0.7;
  filter: alpha(opacity=7);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.nivo-caption p {
  padding: 5px;
  margin: 0; }

.nivo-caption a {
  display: inline !important; }

.nivo-html-caption {
  display: none; }

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 9;
  cursor: pointer; }

.nivo-prevNav {
  left: 0px; }

.nivo-nextNav {
  right: 0px; }

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  text-align: center;
  padding: 15px 0; }

.nivo-controlNav a {
  cursor: pointer; }

.nivo-controlNav a.active {
  font-weight: bold; }

ul.contact_form {
  position: relative;
  float: left;
  width: 60%;
  min-width: 300px;
  padding: 10px;
  border: 1px solid #949494;
  background: #cbcbcb;
  border-radius: 10px;
  margin-bottom: 30px; }
  ul.contact_form li {
    padding-top: 10px;
    list-style: none; }

div#gMapContact {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 340px; }
